<h1><%= @members.format_name %> (member)</h1>

<table>
  <tr>
    <th>Session Attending</th>
    <th>Session Date + Time</th>
  </tr>

  <% @members.session.each do |session| %>

  <tr>
    <td><%= session.session_name %></td>
    <td><%= session.session_datetime %></td>
  </tr>
  <% end %>
</table>

<br>

<form action="/members/<%= @members.id %>/edit" method="GET"><input type="submit" value="Edit"></form>


<form action="/members/<%= @members.id %>/delete" method="POST"><input type="submit" value="delete"></form>
