<h1><%= @members.format_name %> (member)</h1>

<ul>
 <% @members.session.each do |session| %>
 <li><%= session.session_name %><br>
 <%= session.session_time %></li>
 <% end %>
</ul>
<br>

<form action="/members/<%= @members.id %>/edit" method="GET"><input type="submit" value="Edit"></form>


<form action="/members/<%= @members.id %>/delete" method="POST"><input type="submit" value="delete"></form>
