<h1><%= @session.session_name %> (member)
<%= @session.session_datetime%>(time)</h1>

<h3>Members:</h3>

<ul>
 <% @session.members.each do |member| %>
 <li><%= member.format_name %></li>
 <% end %>
</ul>
<br>
<br>
<%= @session.instructor%>
<br>
<br>
<%= @session.how_many_spaces %>



<form action="/sessions/<%= @session.id %>/delete" method="POST"><input type="submit" value="delete"></form>
