<h1><%= @sessions.session_name %> (member)
<%= @sessions.session_time%>(time)</h1>
<%= @sessions.session_date%>(date)
<h3>Members:</h3>

<ul>
 <% @sessions.members.each do |member| %>
 <li><%= member.format_name %></li>
 <% end %>
</ul>
<br>
<%= @sessions.how_many_spaces %>

<form action="/sessions/<%= @sessions.id %>/edit" method="GET"><input type="submit" value="Edit"></form>


<form action="/sessions/<%= @sessions.id %>/delete" method="POST"><input type="submit" value="delete"></form>
