<h1><%= @instructor.name %> (instructor)</h1>

<ul>
 <% @instructor.sessions.each do |session| %>
 <li><%= session.session_name %><br>
 <%= session.session_datetime %></li>
 <% end %>
</ul>
<br>

<form action="/instructors/<%= @instructor.id %>/edit" method="GET"><input type="submit" value="Edit"></form>


<form action="/instructors/<%= @instructor.id %>/delete" method="POST"><input type="submit" value="delete"></form>
